<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
    </div>
  </div>

    <!-- Craigslist Listings -->
  <div class="container">

    <div class="row" id="mars-news">
      <div class="col-md-12"><h3>Latest Mars News</h3></div>
    </div>

    <div class="row">
      <div class="col-md-12"><h4 class="heading">{{ scraped_data['news_title'] }}</h4></div>
    </div>

    <div class="row">
        <div class="col-md-12"><p>{{ scraped_data['news_p'] }}</p></div>
    </div>
  </div>


  <div class="container">
    <div class="row">
        <div class="container col-md-8">
            <div class="row"><h3>Featured Mars Image</h3></div>
            <div class="row"><img src={{ scraped_data['featured_image_url'] }} alt="mars featured image"></div>
        </div>
        <div class="container col-md-4">
            <div class="row"><h3>Current Weather on Mars</h3></div>
            <div class="row"><a>{{ scraped_data['mars_weather'] }}</a></div>
            <div class="row"><h3>Mars Facts</h3></div>
            <div class="row">{{ scraped_data['facts'] | safe}}</div>
        </div>
    </div>
  </div>

  <div class="container">
      <div class="row col-md-12"><h2>Mars Hemispheres</h2></div>
      <div class="row">
      {% for x in scraped_data[hemisphere_image_urls] %}

          <img class="col-md-6" src= {{ x['img_url'] }} alt="valles">

      {% endfor %}
      </div>
  </div>

    </body>

</html>